{% extends "base.html" %}

{% block content %}
    <h1>Add patient</h1>
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.second_name.label }}<br>
            {{ form.second_name(size=40) }}<br>
            {% for error in form.second_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=40) }}<br>
            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.patronymic.label }}<br>
            {{ form.patronymic(size=40) }}<br>
            {% for error in form.patronymic.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
         <p>
            {{ form.age.label }}<br>
            {{ form.age(size=3) }}<br>
            {% for error in form.age.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>       </p>
        <p>
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=40) }}<br>
            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            {{ form.doctors.label }}<br>
            {{ form.doctors() }}<br>
            {% for error in form.doctors.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
 {% endblock %}