
{% extends "base.html" %}

{% block content %}
<div class="container">
    <p>
        <a href="{{ url_for('patasys.all_patients') }}">Просмотр всех пациентов</a>
    </p>
    <p>
        <a href="{{ url_for('patasys.add_patient') }}">Добавить пациента</a>
    </p>
    <p>
        <a href="{{ url_for('patasys.add_doctor') }}">Добавить врача</a>
    </p>
    <p>
        <a href="{{ url_for('patasys.add_service') }}">Добавить услугу</a>
    </p>
    <p>
        <a href="{{ url_for('patasys.schedule') }}">Расписание</a>
    </p>

    <p>
        <a href="{{ url_for('main.index') }}">Main Page</a>
    </p>
</div>
{% endblock %}