{% extends "base.html" %}

{% block content %}
    {% if patient %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{patient.second_name }} {{ patient.first_name }} {{ patient.patronymic }}</p>
                <p>vozrast: {{ patient.age }}</p>
                <p>nomer telephona: {{ patient.phone_number }}</p>
                <p>doctor: {{ doctor.second_name }} {{doctor.first_name }}</p>
            </div>
            <div class="flex-sm-row">
                <img src="{{ url_for('static', filename='200x200.png') }}" alt="..." class="img-thumbnail">
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}